* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: xx-large;
}

body {
  height: 100vh;
  grid-template-rows: 1fr 10fr 4fr;
}

nav {
  grid-area: "nav-bar";
  background-color: aqua;
}

.background {
  height: 100vh;
  background: url(../../image/about/athletes-1867185_1280.jpg);
  background-size: cover;
}

.about-more {
  display: flex;
  padding: 0px 30px;
}
.about-more p {
  font-size: 20px;
  line-height: 1.3em;
}
.about-more h1 {
  color: rgb(3, 3, 3);
  text-transform: uppercase;
}
.about-more .about-more-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: self-start;
  justify-content: space-evenly;
  gap: 10px;
}
.about-more .about-more-left h1 {
  font-size: xx-large;
}
.about-more .about-more-left .about-content {
  display: flex;
  align-items: center;
}
.about-more .about-more-left .about-content span {
  margin-left: 10px;
  background-color: #000000;
  padding: 5px 10px;
}
.about-more .about-more-left .about-content span a {
  color: white;
  text-decoration: none;
}
.about-more .about-more-left .about-content-center {
  width: 95%;
}
.about-more .about-more-left .btn {
  background-color: #CFA344;
  padding: 10px 40px;
  color: white;
}
.about-more .about-more-right .about-more-right-img {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
}
.about-more .about-more-right img {
  width: 200px;
  height: 250px;
}
.about-more .about-more-right #about-img {
  height: 300px;
}

@media (max-width: 768px) {
  .about-more {
    display: flex;
    padding: 0px 30px;
  }
  .about-more p {
    font-size: 14px;
    line-height: 1.3em;
  }
  .about-more .about-more-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: self-start;
    justify-content: space-evenly;
  }
  .about-more .about-more-left .about-content-head h1 {
    font-size: 25px;
    color: rgb(3, 3, 3);
    text-transform: uppercase;
  }
  .about-more .about-more-left .about-content {
    display: flex;
    align-items: center;
  }
  .about-more .about-more-left .about-content h1 {
    font-size: 25px;
    color: rgb(3, 3, 3);
    text-transform: uppercase;
  }
  .about-more .about-more-left .about-content span {
    margin-left: 10px;
    background-color: #000000;
    padding: 5px 10px;
  }
  .about-more .about-more-left .about-content span a {
    color: white;
    text-decoration: none;
  }
  .about-more .about-more-left .about-content-center {
    width: 95%;
  }
  .about-more .about-more-left .btn {
    background-color: #CFA344;
    padding: 10px 40px;
    color: white;
  }
  .about-more .about-more-right .about-more-right-img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5px;
  }
  .about-more .about-more-right img {
    width: 150px;
    height: 200px;
  }
  .about-more .about-more-right #about-img {
    height: 200px;
  }
  .about-more .about-more-right #about-small-img {
    position: relative;
    top: 100px;
  }
}
.knowleged {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
}
.knowleged h1 {
  text-transform: uppercase;
}
.knowleged .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.knowleged .icon .knowlgeded-icon {
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  text-align: center;
}
.knowleged .icon .knowlgeded-icon .knowlgeded-icon-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9F4F1;
  border-radius: 100%;
  height: 150px;
  width: 150px;
}
.knowleged .icon .knowlgeded-icon .knowlgeded-icon-img img {
  width: 100px;
}
.knowleged .icon .knowlgeded-icon .knowlgeded-icon-img #imgwidth {
  width: 125px;
}

@media (max-width: 768px) {
  .knowleged {
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
  }
  .knowleged h1 {
    font-size: 25px;
    text-transform: uppercase;
  }
  .knowleged .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .knowleged .icon .knowlgeded-icon {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-align: center;
  }
  .knowleged .icon .knowlgeded-icon .knowleged-content p {
    font-size: 14px;
  }
  .knowleged .icon .knowlgeded-icon .knowlgeded-icon-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F4F1;
    border-radius: 100%;
    height: 150px;
    width: 150px;
  }
  .knowleged .icon .knowlgeded-icon .knowlgeded-icon-img img {
    width: 100px;
  }
  .knowleged .icon .knowlgeded-icon .knowlgeded-icon-img #imgwidth {
    width: 125px;
  }
}
#blog {
  border-left: 5px solid;
  padding-left: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.our-blog {
  background-color: #EAF1F1;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
}
.our-blog p {
  line-height: 1.3em;
}
.our-blog .group-blog {
  display: flex;
  justify-content: space-between;
}
.our-blog .group-blog .our-blog-left {
  width: 40%;
  display: flex;
  gap: 10px;
}
.our-blog .group-blog .our-blog-left img {
  height: 300px;
  width: 250px;
}
.our-blog .group-blog .our-blog-left .our-blog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-blog .group-blog .our-blog-left .our-blog-content h3 {
  font-size: 25px;
}
.our-blog .group-blog .our-blog-left .our-blog-content .group-bloge-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.our-blog .group-blog .our-blog-left .our-blog-content .group-bloge-content p {
  font-size: 15px;
}
.our-blog .group-blog .our-blog-right {
  display: flex;
  width: 40%;
}
.our-blog .group-blog .our-blog-right img {
  height: 200px;
  width: 150px;
}

@media (max-width: 768px) {
  .our-blog .group-blog {
    flex-direction: column;
    gap: 50px;
  }
  .our-blog .group-blog .our-blog-left {
    width: 100%;
    gap: 100px;
    justify-content: flex-start;
  }
  .our-blog .group-blog .our-blog-left img {
    border-right: solid 2px black;
    padding-right: 100px;
  }
  .our-blog .group-blog .our-blog-left .our-blog-content h3 {
    font-size: 20px;
  }
  .our-blog .group-blog .our-blog-left .our-blog-content a {
    font-size: 10px;
  }
  .our-blog .group-blog .our-blog-left .our-blog-content .group-bloge-content p {
    font-size: 14px;
  }
  .our-blog .group-blog .our-blog-left img {
    height: 200px;
    width: 150px;
  }
  .our-blog .group-blog .our-blog-revers {
    display: flex;
    flex-direction: row-reverse;
  }
  .our-blog .group-blog .our-blog-revers #img-revers {
    border: none;
    border-left: solid 2px black;
    padding-left: 100px;
  }
}
main {
  gap: 50px;
  display: flex;
  flex-direction: column;
}
main .value {
  flex: 1;
  gap: 20px;
  padding: 0px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .value h1 {
  text-transform: uppercase;
}
main .value .card-value {
  display: flex;
  justify-content: space-around;
}
main .value .card-value .card {
  width: 300px;
  height: 300px;
  background-color: #F9F4F1;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
main .value .card-value .card img {
  width: 100px;
}

footer {
  padding: 20px 50px;
  background-color: #292928;
  display: flex;
  justify-content: space-between;
}
footer .footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .footer h3 {
  color: white;
}
footer .footer p {
  color: rgb(121, 121, 121);
}/*# sourceMappingURL=about.css.map */