* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#text-color {
  color: rgba(255, 174, 0, 0.872);
}

.text-header {
  margin-top: 35px;
  margin-left: 35px;
  font-size: 28px;
  color: white;
}

#submit {
  background-color: rgba(255, 174, 0, 0.872);
  color: white;
  border: none;
  width: 25%;
  height: 10vh;
  margin-top: 40px;
}

#submit:hover {
  background-color: rgb(116, 116, 116);
}

button span {
  font-size: 30px;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-transform: uppercase;
}
nav .nav-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #292928;
  color: white;
  height: 5vh;
  width: 100%;
}
nav .nav-top .nav-top-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding: 0px 45px;
}
nav .nav-top .nav-top-right p {
  letter-spacing: 0.5px;
}
nav .nav-top .nav-top-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding: 0px 45px;
}
nav .nav-top .nav-top-left img {
  height: 20px;
  cursor: pointer;
}
nav .nav-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 12vh;
  background: #3A3A3A;
  border-bottom: 4px solid rgb(162, 212, 212);
}
nav .nav-button .nav-button-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
  width: 20%;
  height: 100%;
  background: #CFA344;
  padding-left: 50px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
}
nav .nav-button .nav-button-left img {
  height: 80%;
  cursor: pointer;
}
nav .nav-button .nav-button-left h1 {
  color: white;
  font-size: 30px;
  font-weight: 100;
}
nav .nav-button .nav-button-right {
  width: 80%;
}
nav .nav-button .nav-button-right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  height: 100%;
  gap: 75px;
  padding-right: 50px;
}
nav .nav-button .nav-button-right ul li {
  list-style: none;
}
nav .nav-button .nav-button-right ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.5px;
}
nav .nav-button .nav-button-right ul li a:hover {
  color: yellow;
  border-bottom: 3px solid yellow;
}
nav .nav-button .nav-button-right ul li #color {
  border-bottom: 3px solid yellow;
  color: yellow;
}
nav .nav-button .nav-button-right ul li button {
  background: #CFA344;
  color: white;
  border: none;
  padding: 8px 20px;
  font: bold 18px serif;
  text-transform: uppercase;
  border-radius: 10px 0px 10px 0px;
  letter-spacing: 0.5px;
  cursor: pointer;
}
nav .nav-button .nav-button-right ul li button:hover {
  color: yellow;
}

@media (max-width: 1023px) {
  nav .nav-button {
    height: 12vh;
  }
  nav .nav-button .nav-button-left h1 {
    display: none;
  }
  nav .nav-button .nav-button-right ul {
    gap: 35px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 14px;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 14px;
    padding: 6px 10px;
  }
}
@media (max-width: 768px) {
  nav .nav-top .nav-top-left {
    gap: 15px;
    padding: 0px 20px;
  }
  nav .nav-top .nav-top-right p {
    display: none;
  }
  nav .nav-button {
    height: 11vh;
  }
  nav .nav-button .nav-button-left {
    padding-left: 25px;
    width: 20%;
  }
  nav .nav-button .nav-button-right {
    padding-right: 20px;
    width: 80%;
  }
  nav .nav-button .nav-button-right ul {
    gap: 30px;
    padding-right: 10px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 12x;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 12px;
    padding: 5px 10px;
  }
}
@media (max-width: 600px) {
  nav .nav-top {
    display: none;
  }
  nav .nav-button {
    height: 10vh;
  }
  nav .nav-button .nav-button-left {
    padding-left: 10px;
    width: 25%;
  }
  nav .nav-button .nav-button-right {
    padding-right: 10px;
    width: 75%;
  }
  nav .nav-button .nav-button-right ul {
    gap: 15px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 11px;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 11px;
    padding: 4px 8px;
  }
}
@media (max-width: 400px) {
  nav .nav-top .nav-top-left {
    gap: 15px;
    padding: 0px 20px;
  }
  nav .nav-top .nav-top-right p {
    display: none;
  }
  nav .nav-button {
    height: 9vh;
  }
  nav .nav-button .nav-button-left {
    padding-left: 25px;
    width: 20%;
  }
  nav .nav-button .nav-button-right {
    width: 80%;
  }
  nav .nav-button .nav-button-right ul {
    gap: 15px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 10x;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 9px;
  }
}
@media (max-width: 390px) {
  nav .nav-button {
    height: 8vh;
  }
  nav .nav-button .nav-button-right ul {
    gap: 10px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 10px;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 9px;
  }
}
header {
  height: 100vh;
  background-image: url("/images/header/Group 132.png");
  background-size: cover;
}

.main-containner {
  height: 175vh;
  background-color: rgb(255, 255, 255);
}
.main-containner #boder-text {
  border-left: 5px solid black;
  font-size: 30px;
  margin-left: 50px;
  margin-top: 5%;
}

main {
  display: flex;
  width: 94%;
  height: 110vh;
  margin-left: 38px;
  margin-top: 50px;
}
main .main-left {
  flex: 1;
}
main .main-right {
  flex: 1;
}

.main-head {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}
.main-head h1 {
  font-size: 45px;
}
.main-head p {
  font-size: 20px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  nav .nav-top {
    display: none;
  }
  nav .nav-top .nav-top-left {
    display: none;
  }
  nav .nav-top .nav-top-right p {
    display: none;
  }
  nav .nav-button .nav-button-left h1 {
    font-size: 18px;
  }
  nav .nav-button .nav-button-right {
    margin-right: 20px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 20px;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .text-header {
    font-size: 18px;
  }
  .text-header button {
    width: 100px;
    border-radius: 5px;
  }
  .text-header button span {
    font-size: 15px;
  }
  .main-head h1 {
    font-size: 32px;
  }
  .main-head p {
    font-size: 13px;
    margin-top: 0px;
  }
  body {
    height: 710vh;
    width: 100%;
  }
  .main-right .container {
    margin-top: 5%;
    height: 150vh;
    width: 95%;
    margin-left: 0px;
  }
  .main-right .container .form-header {
    color: rgb(0, 0, 0);
    padding: 20px;
  }
  .main-right .container form {
    padding: 10px;
    gap: 5px;
    height: 110vh;
  }
  .but {
    display: flex;
    justify-content: center;
  }
  .but #submit {
    font-size: 14px;
    border-radius: 20px;
    width: 20%;
  }
  footer {
    height: 200vh;
    margin-top: 100%;
  }
  footer .footertop {
    height: 100vh;
    width: 10%;
    margin-top: 10px;
    background-color: white;
    margin-bottom: 15%;
  }
  footer .footertop iframe {
    width: 10%;
    background-color: white;
  }
  .footerbottom {
    height: 100vh;
    width: 100%;
  }
  .footerbottom .texts {
    margin-top: 50px;
  }
  .footerbottom .texts .text {
    color: white;
    padding: 0 60px 0 60px;
  }
  .footerbottom .texts .text .tillte {
    font-weight: bold;
    font-size: 18px;
  }
  .footerbottom .texts .text p {
    font-size: 12px;
    padding: 20px 0 20px 0;
  }
  #text-bottom {
    font-size: 8px;
    color: white;
    margin-bottom: 10%;
    margin-top: 0px;
  }
  .main-left .cards {
    width: 100%;
    height: 140vh;
  }
  .main-left .cards .card {
    width: 46%;
    height: 47vh;
  }
  .main-left .cards .card5 {
    width: 95%;
    height: 25vh;
    margin-bottom: 10%;
  }
  .main-left .cards .card5 #location {
    font-size: 50px;
    margin-left: 70px;
  }
}
@media (max-width: 600px) {
  nav .nav-top {
    display: none;
  }
  nav .nav-top .nav-top-left {
    display: none;
  }
  nav .nav-top .nav-top-right p {
    display: none;
  }
  nav .nav-button .nav-button-left img {
    width: 50px;
  }
  nav .nav-button .nav-button-left h1 {
    font-size: 14px;
    margin-right: 30px;
  }
  nav .nav-button .nav-button-right {
    margin-right: 30px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 15px;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .text-header {
    font-size: 18px;
  }
  .text-header button {
    width: 100px;
    border-radius: 5px;
  }
  .text-header button span {
    font-size: 15px;
  }
  .main-head h1 {
    font-size: 24px;
  }
  .main-head p {
    font-size: 10px;
    margin-top: 0px;
  }
  body {
    height: 300vh;
    width: 100%;
  }
  .but {
    display: flex;
    justify-content: center;
  }
  .but #submit {
    font-size: 14px;
    border-radius: 20px;
    width: 20%;
  }
  footer {
    height: 100vh;
    margin-top: 120%;
  }
  footer .footertop {
    height: 100vh;
    width: 10%;
    margin-top: 10px;
    background-color: aqua;
    margin-bottom: 15%;
  }
  footer .footertop iframe {
    width: 10%;
  }
  .footerbottom {
    height: 110vh;
    width: 100%;
    background-color: chartreuse;
  }
  .footerbottom .texts {
    margin-top: 10px;
  }
  .footerbottom .texts .text {
    color: white;
    padding: 0 35px 0 35px;
  }
  .footerbottom .texts .text .tillte {
    font-weight: bold;
    font-size: 18px;
  }
  .footerbottom .texts .text p {
    font-size: 12px;
    padding: 20px 0 20px 0;
  }
  #text-bottom {
    font-size: 8px;
    color: white;
    margin-bottom: 10%;
    margin-top: 0px;
  }
  .main-left .cards {
    width: 100%;
    height: 140vh;
  }
  .main-left .cards .card {
    width: 46%;
    height: 47vh;
  }
  .main-left .cards .card5 {
    width: 95%;
    height: 25vh;
    margin-bottom: 10%;
  }
  .main-left .cards .card5 #location {
    font-size: 50px;
    margin-left: 70px;
  }
}
@media (max-width: 420px) {
  body {
    height: 500vh;
    width: 100%;
  }
  nav .nav-top {
    display: none;
  }
  nav .nav-top .nav-top-left {
    display: none;
  }
  nav .nav-top .nav-top-right p {
    display: none;
  }
  nav .nav-button .nav-button-left img {
    width: 50px;
  }
  nav .nav-button .nav-button-left h1 {
    font-size: 14px;
  }
  nav .nav-button-right {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 20px;
    padding: 0px;
  }
  nav .nav-button-right ul {
    display: flex;
    gap: 100px;
  }
  nav .nav-button-right ul li {
    list-style: none;
  }
  nav .nav-button-right ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 300;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .text-header {
    font-size: 10px;
  }
  .text-header button {
    width: 100px;
    border-radius: 5px;
  }
  .text-header button span {
    font-size: 15px;
  }
  .main-head h1 {
    font-size: 24px;
  }
  .main-head p {
    font-size: 8px;
    margin-top: 0px;
  }
  .container {
    width: 96%;
    margin-left: 25px;
  }
  .main-right {
    height: 95vh;
  }
  .main-right .container {
    margin-top: 5%;
    height: 90vh;
    width: 95%;
    margin-left: 0px;
  }
  .main-right .container .form-header {
    color: rgb(0, 0, 0);
    padding: 20px;
  }
  .main-right .container form {
    padding: 10px;
    gap: 5px;
    height: 65vh;
  }
  .but {
    display: flex;
    justify-content: center;
  }
  .but #submit {
    font-size: 14px;
    border-radius: 20px;
    width: 30%;
    height: 7vh;
  }
  footer {
    height: 70vh;
    display: flex;
    flex-direction: column;
    margin-top: 200%;
  }
  footer .footertop {
    height: 30vh;
    width: 92%;
    margin-left: 30px;
  }
  footer .footertop iframe {
    width: 92%;
    height: 92vh;
  }
  footer #text-bottom {
    margin-left: 35%;
    margin-top: 40px;
    color: rgb(152, 152, 152);
  }
  .footerbottom {
    height: 100vh;
    width: 100%;
    margin-top: 0px;
  }
  .footerbottom .texts {
    margin-top: 10px;
  }
  .footerbottom .texts .text {
    color: rgb(175, 175, 175);
    padding: 0 10px 0 10px;
  }
  .footerbottom .texts .text .tillte {
    font-weight: bold;
    font-size: 20px;
    color: white;
  }
  .footerbottom .texts .text p {
    font-size: 15px;
    padding: 10px 0 10px 0;
  }
}
footer {
  padding: 20px 50px;
  background-color: #292928;
  display: flex;
  justify-content: space-between;
}
footer .footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .footer h3 {
  color: white;
}
footer .footer a {
  color: rgb(164, 164, 164);
  text-decoration: none;
}
footer .footer a:hover {
  color: rgb(249, 249, 249);
  text-decoration: underline;
}

.cards {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cards .card {
  width: 46%;
  height: 37vh;
  background-color: rgb(255, 253, 225);
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.cards .card #blond {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5px;
}
.cards .card5 {
  width: 95%;
  height: 25vh;
  flex-direction: row;
}
.cards .card5 #location {
  font-size: 50px;
  margin-left: 70px;
}

.container {
  background: rgb(255, 255, 255);
  width: 96%;
  margin: auto;
  border-radius: 10px;
  margin-left: 25px;
  height: 109vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form-header {
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}

form {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  height: 80vh;
}

label {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.usernames {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-name {
  width: 100%;
  padding-top: 10px;
  margin-left: 20px;
}

input[type=text] {
  width: 85%;
  padding: 5px;
  margin: 2px 0px;
  border-radius: 10px;
  border: 1px solid black;
  height: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.email {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

input[type=email] {
  width: 90%;
  padding: 5px;
  margin: 2px 0px;
  border-radius: 10px;
  border: 1px solid black;
  height: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.password {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-pwd {
  width: 100%;
  margin-left: 20px;
}

input[type=password] {
  width: 87%;
  padding: 5px;
  margin: 2px 0px;
  border-radius: 10px;
  border: 1px solid black;
  height: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-area {
  width: 93%;
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  border-radius: 15px;
}

textarea {
  padding: 10px;
  margin: 2px 0px;
}

.but {
  display: flex;
  justify-content: center;
}

#submit {
  background-color: rgba(255, 174, 0, 0.872);
  color: white;
  font-size: 20px;
  border: none;
  margin: 9px 27px;
  padding: 6px 12px;
  border-radius: 60px;
  width: 30%;
}

.Gender {
  margin-left: 20px;
  margin-top: 15px;
  display: flex;
}

.radio {
  display: flex;
  margin-left: 20px;
}
.radio div {
  margin-left: 20px;
}/*# sourceMappingURL=contact.css.map */