* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
}
body h2, body h1:not(nav h1) {
  font-family: sans-serif;
  font-weight: 100;
}
body p, body label {
  font-family: "Calibri", sans-serif;
}

#text-color {
  color: rgba(255, 174, 0, 0.872);
}

.text-header {
  margin-top: 35px;
  margin-left: 35px;
  font-size: 28px;
  color: white;
}

#submit {
  background-color: rgba(255, 174, 0, 0.872);
  color: white;
  border: none;
  width: 25%;
  height: 10vh;
  margin-top: 40px;
}

#submit:hover {
  background-color: rgb(116, 116, 116);
}

button span {
  font-size: 30px;
  font-weight: bold;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-transform: uppercase;
}
nav .nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #292928;
  color: white;
  height: 5vh;
  width: 100%;
}
nav .nav-top .nav-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  padding: 0 45px;
}
nav .nav-top .nav-top-right p {
  letter-spacing: 0.5px;
  font-size: 1rem;
}
nav .nav-top .nav-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  padding: 0 45px;
}
nav .nav-top .nav-top-left img {
  height: 20px;
  cursor: pointer;
}
nav .nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 12vh;
  background: #3A3A3A;
  border-bottom: 4px solid rgb(162, 212, 212);
}
nav .nav-button .nav-button-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  width: 20%;
  height: 100%;
  background: #CFA344;
  padding-left: 50px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
}
nav .nav-button .nav-button-left img {
  height: 80%;
  cursor: pointer;
}
nav .nav-button .nav-button-left h1 {
  font-family: serif;
  color: white;
  font-size: 1.875rem;
  font-weight: 100;
}
nav .nav-button .nav-button-right {
  width: 80%;
}
nav .nav-button .nav-button-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
  gap: 75px;
  padding-right: 50px;
}
nav .nav-button .nav-button-right ul li {
  list-style: none;
}
nav .nav-button .nav-button-right ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
nav .nav-button .nav-button-right ul li a:hover {
  color: yellow;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
nav .nav-button .nav-button-right ul li a:focus {
  outline: 2px solid yellow;
}
nav .nav-button .nav-button-right ul li #color {
  border-bottom: 2px solid yellow;
  color: yellow;
}
nav .nav-button .nav-button-right ul li button {
  background: #CFA344;
  color: white;
  border: none;
  padding: 8px 20px;
  font: bold 1.125rem serif;
  text-transform: uppercase;
  border-radius: 10px 0 10px 0;
  letter-spacing: 0.5px;
  cursor: pointer;
}
nav .nav-button .nav-button-right ul li button:hover {
  color: yellow;
}
nav .nav-button .nav-button-right ul li button:focus {
  outline: 2px solid yellow;
}

@media (max-width: 1023px) {
  nav .nav-button .nav-button-left h1 {
    display: none;
  }
  nav .nav-button .nav-button-right ul {
    gap: 35px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 1.25rem;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 1.25rem;
    padding: 6px 10px;
  }
}
@media (max-width: 768px) {
  nav .nav-top p:first-child {
    display: none;
  }
  nav .nav-top .nav-top-right p {
    font-size: 0.875rem;
  }
  nav .nav-button .nav-button-left h1 {
    display: none;
  }
  nav .nav-button .nav-button-right ul {
    padding-right: 40px;
    gap: 35px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 1rem;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 1rem;
    padding: 6px 10px;
  }
}
@media (max-width: 600px) {
  nav .nav-top p:first-child {
    display: none;
  }
  nav .nav-top .nav-top-right p {
    font-size: 0.75rem;
  }
  nav .nav-button {
    height: 9vh;
  }
  nav .nav-button .nav-button-left h1 {
    display: none;
  }
  nav .nav-button .nav-button-right ul {
    gap: 35px;
    padding-right: 35px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 0.875rem;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 0.875rem;
    padding: 4px 10px;
  }
}
@media (max-width: 480px) {
  nav .nav-top {
    display: none;
  }
  nav .nav-button {
    height: 8vh;
    padding: 0;
  }
  nav .nav-button .nav-button-left h1 {
    display: none;
  }
  nav .nav-button .nav-button-right ul {
    gap: 15px;
    padding-right: 20px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 0.8rem;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 0.8rem;
    padding: 4px 10px;
  }
  nav .nav-button .nav-button-left {
    padding-left: 10px;
  }
}
@media (max-width: 885px) {
  .interface {
    height: 82vh;
    background: url(../../image/home/home_interface.png) center/cover no-repeat;
  }
  .interface .interface-left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 82vh;
  }
  .interface .interface-left h1 {
    color: white;
    font: 2rem sans-serif;
    padding: 40px 10px 10px 40px;
    line-height: 1.2em;
    width: 70%;
  }
  .interface .interface-left p {
    color: white;
    padding: 0px 10px 10px 40px;
    font-family: sans-serif;
    line-height: 1.3em;
    width: 70%;
  }
  .interface .interface-left button {
    background: #CFA344;
    color: white;
    padding: 15px 20px;
    margin: 10px 0 0 40px;
    font: bold 1.125rem sans-serif;
    border: none;
  }
  .interface .interface-right {
    display: none;
  }
  .interface .interface-right img {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .interface {
    height: 82vh;
    background: url(../../image/home/home_interface.png) center/cover no-repeat;
  }
  .interface .interface-left {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    height: 82vh;
  }
  .interface .interface-left h1 {
    color: white;
    font: 1.75rem sans-serif;
    padding: 30px 10px 10px 30px;
    line-height: 1.2em;
    width: 80%;
  }
  .interface .interface-left p {
    color: white;
    padding: 0px 10px 10px 30px;
    font: 0.875rem sans-serif;
    line-height: 1.3em;
    width: 80%;
  }
  .interface .interface-left button {
    margin: 10px 0 0 30px;
    padding: 15px 20px;
  }
}
@media (max-width: 480px) {
  .interface {
    height: 82vh;
    background: url(../../image/home/home_interface.png) center/cover no-repeat;
  }
  .interface .interface-left {
    height: 82vh;
  }
  .interface .interface-left h1 {
    color: white;
    font: 1.625rem sans-serif;
    padding: 20px 8px 8px 20px;
    line-height: 1.2em;
    width: 90%;
  }
  .interface .interface-left p {
    color: white;
    padding: 0px 10px 10px 20px;
    font-family: 0.875rem sans-serif;
    line-height: 1.3em;
  }
  .interface .interface-left button {
    padding: 15px 20px;
    margin: 10px 0 0 20px;
    font: bold 12px sans-serif;
  }
}
@media (max-width: 768px) {
  .new-articles .football {
    padding: 0px;
  }
  .new-articles .football .football-head h1 {
    font-size: 1.75rem;
  }
  .new-articles .football .football-head p {
    font-size: 0.875rem;
  }
  .new-articles .football .football-butt {
    width: 100%;
  }
  .new-articles .new-articles-img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .new-articles .new-articles-img img {
    height: 100%;
    display: none;
  }
}
@media (max-width: 420px) {
  .new-articles .football {
    padding: 0px;
  }
  .new-articles .football .football-head h1 {
    font-size: 1.625rem;
  }
  .new-articles .football .football-head p {
    font-size: 0.875rem;
  }
  .new-articles .football .football-butt {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .new-articles .new-articles-img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .new-articles .new-articles-img img {
    height: 100%;
    display: none;
  }
}
@media (max-width: 1200px) {
  .what-we-do .what-we-do-content .content-item {
    max-width: 250px;
  }
}
@media (max-width: 992px) {
  .what-we-do {
    height: auto;
  }
  .what-we-do-head h1 {
    font-size: 2rem;
  }
  .what-we-do-head p {
    font-size: 1rem;
  }
  .what-we-do-content .content-item {
    max-width: 220px;
  }
}
@media (max-width: 768px) {
  .what-we-do-head h1 {
    font-size: 1.75rem;
  }
  .what-we-do-head p {
    font-size: 0.875rem;
  }
  .what-we-do-content-items {
    gap: 10px;
  }
  .what-we-do-content .content-item {
    max-width: 180px;
  }
}
@media (max-width: 576px) {
  .what-we-do-head h1 {
    font-size: 1.625rem;
  }
  .what-we-do-head p {
    font-size: 0.875rem;
    width: 90%;
  }
  .what-we-do-content .content-item {
    max-width: 100%;
    padding: 15px;
  }
  .content-item-pic img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 1200px) {
  .be-member .be-basketball-left {
    width: 55%;
  }
  .be-member .be-basketball-right {
    width: 45%;
    padding: 30px 0px;
    background: #000;
  }
}
@media (max-width: 992px) {
  .be-member .be-member {
    padding: 0px 0px 50px 0px;
  }
  .be-member .be-member .be-basketball {
    padding: 50px 0px;
  }
  .be-member .be-member .be-basketball .be-basketball-left {
    padding-top: 20px;
  }
  .be-member .be-member .be-basketball .be-basketball-left h1 {
    font-size: 2rem;
  }
  .be-member .be-member .be-basketball .be-basketball-left p {
    font-size: 1rem;
    padding-right: 20px;
  }
  .be-member .be-member .be-basketball .be-basketball-right {
    padding: 25px;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .be-member .be-basketball {
    padding: 0px 0px 50px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .be-member .be-basketball .be-basketball-left {
    width: 100%;
    padding-right: 0px;
  }
  .be-member .be-basketball .be-basketball-left h1 {
    font-size: 1.75rem;
  }
  .be-member .be-basketball .be-basketball-left p {
    font-size: 0.875rem;
    padding-right: 0px;
  }
  .be-member .be-basketball .be-basketball-right {
    display: none;
  }
}
@media (max-width: 480px) {
  .be-member .be-basketball {
    padding: 0px 0px 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .be-member .be-basketball .be-basketball-left {
    width: 100%;
  }
  .be-member .be-basketball .be-basketball-left h1 {
    font-size: 1.625rem;
  }
  .be-member .be-basketball .be-basketball-left p {
    font-size: 0.875rem;
    padding-right: 0px;
  }
}

@media (max-width: 1200px) {
  .sport-evert-left {
    padding-right: 20px;
  }
  .sport-evert-left h1 {
    font-size: 2rem;
  }
  .sport-evert-left p {
    font-size: 1rem;
    padding-right: 20px;
  }
  .sport-evert-left button {
    padding: 10px 80px;
    font-size: 1.125rem;
    left: 60%;
  }
  .sport-evert-right {
    padding: 40px;
  }
}
@media (max-width: 992px) {
  .sport-evert-left {
    padding: 50px 0;
  }
  .sport-evert-left h1 {
    font-size: 2rem;
  }
  .sport-evert-left p {
    font-size: 1rem;
    padding-right: 15px;
  }
  .sport-evert-left button {
    padding: 10px 60px;
    font-size: 2rem;
  }
  .sport-evert-right {
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .sport-evert {
    margin-top: 30px;
  }
  .sport-evert .sport-evert-left {
    width: 100%;
    padding: 50px 0;
  }
  .sport-evert .sport-evert-left h1 {
    font-size: 1.75rem;
  }
  .sport-evert .sport-evert-left p {
    font-size: 0.875rem;
    padding-right: 10px;
  }
  .sport-evert .sport-evert-left button {
    padding: 8px 50px;
    font-size: 1.125rem;
    left: 50%;
  }
  .sport-evert .sport-evert-right {
    display: none;
  }
}
@media (max-width: 480px) {
  .sport-evert .sport-evert-left h1 {
    font-size: 1.625rem;
  }
  .sport-evert .sport-evert-left p {
    font-size: 0.875rem;
    padding-right: 5px;
  }
  .sport-evert .sport-evert-left button {
    padding: 8px 40px;
    font-size: 1.125rem;
    left: 45%;
  }
  .sport-evert .sport-evert-right {
    padding: 15px;
  }
}
@media (max-width: 1200px) {
  .what-are-they-left {
    width: 55%;
  }
  .what-are-they-right {
    width: 45%;
    padding: 30px;
  }
}
@media (max-width: 992px) {
  .what-are-they {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
  .what-are-they .what-are-they-left, .what-are-they .what-are-they-right {
    width: 100%;
  }
  .what-are-they .what-are-they-content h1 {
    font-size: 2rem;
  }
  .what-are-they .what-are-they-content p {
    font-size: 1rem;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .what-are-they {
    padding: 20px 0;
  }
  .what-are-they .what-are-they-content h1 {
    font-size: 1.75rem;
  }
  .what-are-they .what-are-they-content p {
    font-size: 0.875rem;
  }
  .what-are-they .about-sport .review .about-sport-left, .what-are-they .about-sport .review .about-sport-right {
    width: 100%;
  }
  .what-are-they .what-are-they-right {
    display: none;
  }
}
@media (max-width: 480px) {
  .what-are-they {
    padding: 15px 0;
  }
  .what-are-they .what-are-they-left .what-are-they-content h1 {
    font-size: 1.625rem;
  }
  .what-are-they .what-are-they-left .what-are-they-content p {
    font-size: 0.875rem;
  }
  .what-are-they .what-are-they-left .what-are-they-content .about-sport {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .what-are-they .what-are-they-left .what-are-they-content .about-sport .review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0;
  }
  .what-are-they .what-are-they-left .what-are-they-content .about-sport .review .about-sport-left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .what-are-they .what-are-they-left .what-are-they-content .about-sport .review .about-sport-left .value {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .what-are-they .what-are-they-left .what-are-they-content .about-sport .review .about-sport-left .value h2 {
    width: 100%;
    text-align: center;
  }
  .what-are-they .what-are-they-left .what-are-they-content .about-sport .review .about-sport-right {
    width: 100%;
    border: none;
  }
  .what-are-they .what-are-they-left .what-are-they-content .about-sport .review .about-sport-right p {
    padding: 10px 0 0 0;
  }
}
@media (max-width: 768px) {
  .activity {
    padding: 30px 20px;
  }
  .activity .activity-card .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .activity .activity-card .card h2 {
    font-size: 1.375rem;
  }
  .activity .activity-card .card p {
    font-size: 0.875rem;
    text-align: left;
  }
}
@media (max-width: 480px) {
  .activity {
    padding: 20px 50px;
  }
  .activity .activity-card .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .activity .activity-card .card h2 {
    font-size: 1.25rem;
  }
  .activity .activity-card .card p {
    font-size: 0.875rem;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .list-sport h1:not(.box h1) {
    font-size: 2rem;
  }
  .list-sport .list-sport-card .card1 h1, .list-sport .list-sport-card .card2 h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .list-sport h1:not(.box h1) {
    font-size: 1.75rem;
  }
  .list-sport .list-sport-card {
    gap: 30px;
  }
  .list-sport .list-sport-card .card1, .list-sport .list-sport-card .card2, .list-sport .list-sport-card .box {
    padding: 10px;
  }
  .list-sport .list-sport-card .card1 h1, .list-sport .list-sport-card .card2 h1, .list-sport .list-sport-card .box h1 {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .list-sport {
    padding: 10px;
  }
  .list-sport h1:not(.box h1) {
    font-size: 1.625rem;
  }
  .list-sport .list-sport-card {
    gap: 15px;
  }
  .list-sport .list-sport-card .card1, .list-sport .list-sport-card .card2, .list-sport .list-sport-card .box {
    padding: 5px;
  }
  .list-sport .list-sport-card .card1 h1, .list-sport .list-sport-card .card2 h1, .list-sport .list-sport-card .box h1 {
    font-size: 0.75rem;
  }
}
@media (max-width: 420px) {
  .list-sport {
    padding: 10px;
  }
  .list-sport h1:not(.box h1) {
    font-size: 1.625rem;
  }
  .list-sport .list-sport-card {
    gap: 10px;
  }
  .list-sport .list-sport-card .card1, .list-sport .list-sport-card .card2, .list-sport .list-sport-card .box {
    padding: 5px;
  }
  .list-sport .list-sport-card .card1 h1, .list-sport .list-sport-card .card2 h1, .list-sport .list-sport-card .box h1 {
    font-size: 0.6rem;
  }
}
header {
  height: 100vh;
  background-image: url("/images/header/Group 132.png");
  background-size: cover;
  background-position: right;
}
header h1 {
  font: 100 3rem sans-serif;
  margin-bottom: 10px;
}
header button {
  background: #CFA344;
  padding: 12px 24px;
  text-transform: uppercase;
  color: white;
  font: 500 1rem sans-serif;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
}
@media (max-width: 768px) {
  header button {
    padding: 10px 20px;
    font: 500 0.9rem sans-serif;
  }
}
@media (max-width: 480px) {
  header button {
    padding: 8px 16px;
    font: 500 0.8rem sans-serif;
  }
}
header button:hover {
  border-radius: 12px;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid teal;
  background: rgba(153, 176, 245, 0.8);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-containner {
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.main-containner .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  padding: 0 30px;
  margin: 30px 0px;
}
.main-containner .main-header h1 {
  font-size: 2rem;
  text-transform: uppercase;
  border-left: 5px solid #000;
  padding-left: 10px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin-left: 38px;
  margin-top: 50px;
}
main .main-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
main .main-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 30px;
}
.main-head h1 {
  font-size: 2rem;
}
.main-head p {
  font-size: 1rem;
  margin-top: 15px;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 25px 25px 40px;
}
.map iframe {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 900px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-containner .main-header {
    margin: 50px 0px;
  }
  .main-containner .main-header h1 {
    font-size: 1.75rem;
    border-left: 4px solid #000;
    padding-left: 10px;
  }
  .main-head h1 {
    font-size: 1.75rem;
  }
  .main-head p {
    font-size: 0.875rem;
    margin-top: 0px;
  }
  body {
    height: 100%;
    width: 100%;
  }
  .main-right .container {
    height: 100%;
    position: relative;
    right: 25px;
  }
  .main-right .container .form-header {
    color: rgb(0, 0, 0);
    padding: 20px;
  }
  .main-right .container form {
    gap: 10px;
    height: 100%;
  }
  .but {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .but #submit {
    font-size: 14px;
    border-radius: 20px;
    padding: 0px 100px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #text-bottom {
    font-size: 8px;
    color: white;
    margin-bottom: 10%;
    margin-top: 0px;
  }
  .main-left .cards {
    width: 100%;
    height: 100%;
  }
  .main-left .cards .card {
    width: 46%;
    height: 47vh;
  }
  .main-left .cards .card p {
    font-size: 0.875rem;
  }
  .main-left .cards .card5 {
    width: 95%;
    height: 25vh;
    margin-bottom: 10%;
  }
  .main-left .cards .card5 #location {
    font-size: 50px;
    margin-left: 70px;
  }
}
@media (max-width: 480px) {
  body {
    height: 100%;
    width: 100%;
  }
  .main-containner .main-header {
    margin: 50px 0px;
  }
  .main-containner .main-header h1 {
    font-size: 1.625rem;
    border-left: 2px solid #000;
    padding-left: 10px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .text-header {
    font-size: 10px;
  }
  .text-header button {
    width: 100px;
    border-radius: 5px;
  }
  .text-header button span {
    font-size: 15px;
  }
  .main-head h1 {
    font-size: 24px;
  }
  .main-head p {
    font-size: 8px;
    margin-top: 0px;
  }
  .container {
    width: 96%;
    margin-left: 25px;
  }
  .main-right {
    height: 95vh;
  }
  .main-right .container {
    margin-top: 5%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 95%;
    margin-left: 0px;
  }
  .main-right .container .form-header {
    color: rgb(0, 0, 0);
    padding: 20px;
  }
  .main-right .container form {
    padding: 10px;
    gap: 5px;
    height: 20%;
    width: 95%;
  }
  .but {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .but #submit {
    font-size: 14px;
    border-radius: 20px;
    width: 30%;
    height: 7vh;
  }
  .main-left .cards {
    width: 90%;
    height: 100%;
  }
  .main-left .cards .card {
    width: 46%;
    height: 200px;
  }
  .main-left .cards .card p {
    font-size: 0.875rem;
  }
  .main-left .cards .card5 {
    width: 100%;
    height: 150px;
  }
  .main-left .cards .card5 #location {
    font-size: 50px;
    margin-left: 50px;
  }
  .map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 0px;
  }
  .map iframe {
    width: 100%;
    border-radius: 0px;
  }
}
.cards {
  width: 100%;
  height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.cards .card {
  width: 46%;
  height: 37vh;
  background-color: rgb(255, 253, 225);
  border-radius: 15px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.cards .card #blond {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5px;
}
.cards .card5 {
  width: 95%;
  height: 25vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.cards .card5 #location {
  font-size: 50px;
  margin-left: 70px;
}

.container {
  background: rgb(255, 255, 255);
  width: 96%;
  margin: auto;
  border-radius: 10px;
  margin-left: 25px;
  height: 109vh;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form-header {
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}

form {
  background-color: rgb(250, 250, 250);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  gap: 5px;
  height: 80vh;
}

input {
  outline: none;
}

label {
  color: rgb(0, 0, 0);
  font-weight: 300;
}

.usernames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form-name {
  width: 100%;
  padding-top: 10px;
  margin-left: 20px;
}

input[type=text] {
  width: 85%;
  padding: 5px;
  margin: 2px 0px;
  border-radius: 10px;
  border: 1px solid black;
  height: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.email {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

input[type=email] {
  width: 90%;
  padding: 5px;
  margin: 2px 0px;
  border-radius: 10px;
  border: 1px solid black;
  height: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form-pwd {
  width: 100%;
  margin-left: 20px;
}

input[type=password] {
  width: 87%;
  padding: 5px;
  margin: 2px 0px;
  border-radius: 10px;
  border: 1px solid black;
  height: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-area {
  width: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 21px;
  border-radius: 15px;
}

textarea {
  padding: 10px;
  margin: 2px 0px;
}

.but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#submit {
  background: #CFA344;
  padding: 12px 24px;
  text-transform: uppercase;
  color: white;
  font: 500 1rem sans-serif;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
  font-weight: bold;
  width: 30%;
}
@media (max-width: 768px) {
  #submit {
    padding: 10px 20px;
    font: 500 0.9rem sans-serif;
  }
}
@media (max-width: 480px) {
  #submit {
    padding: 8px 16px;
    font: 500 0.8rem sans-serif;
  }
}

#submit:hover {
  border-radius: 12px;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid teal;
  background: rgba(153, 176, 245, 0.8);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.Gender {
  margin-left: 20px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}
.radio div {
  margin-left: 20px;
}

footer {
  padding: 20px 50px;
  background-color: #292928;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
footer .footer h3 {
  color: white;
}
footer .footer a {
  color: rgb(164, 164, 164);
  text-decoration: none;
}
footer .footer a:hover {
  color: rgb(249, 249, 249);
  text-decoration: underline;
}

@media (max-width: 480px) {
  footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  footer .footer {
    width: 40%;
  }
}