* {
  margin: 0;
  padding: 0;
}

body {
  font-size: calc(0.75em + 1vmin);
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-transform: uppercase;
}
nav .nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #292928;
  color: white;
  height: 5vh;
  width: 100%;
}
nav .nav-top .nav-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  padding: 0px 45px;
}
nav .nav-top .nav-top-right p {
  letter-spacing: 0.5px;
}
nav .nav-top .nav-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  padding: 0px 45px;
}
nav .nav-top .nav-top-left img {
  height: 20px;
  cursor: pointer;
}
nav .nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 12vh;
  background: #3A3A3A;
  border-bottom: 4px solid rgb(162, 212, 212);
}
nav .nav-button .nav-button-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  width: 20%;
  height: 100%;
  background: #CFA344;
  padding-left: 50px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
}
nav .nav-button .nav-button-left img {
  height: 80%;
  cursor: pointer;
}
nav .nav-button .nav-button-left h1 {
  color: white;
  font-size: 30px;
  font-weight: 100;
}
nav .nav-button .nav-button-right {
  width: 80%;
}
nav .nav-button .nav-button-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
  gap: 75px;
  padding-right: 50px;
}
nav .nav-button .nav-button-right ul li {
  list-style: none;
}
nav .nav-button .nav-button-right ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.5px;
}
nav .nav-button .nav-button-right ul li a:hover {
  color: yellow;
  border-bottom: 3px solid yellow;
}
nav .nav-button .nav-button-right ul li #color {
  border-bottom: 3px solid yellow;
  color: yellow;
}
nav .nav-button .nav-button-right ul li button {
  background: #CFA344;
  color: white;
  border: none;
  padding: 8px 20px;
  font: bold 18px serif;
  text-transform: uppercase;
  border-radius: 10px 0px 10px 0px;
  letter-spacing: 0.5px;
  cursor: pointer;
}
nav .nav-button .nav-button-right ul li button:hover {
  color: yellow;
}

@media (max-width: 1023px) {
  nav .nav-button {
    height: 12vh;
  }
  nav .nav-button .nav-button-left h1 {
    display: none;
  }
  nav .nav-button .nav-button-right ul {
    gap: 35px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 14x;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 14px;
    padding: 6px 10px;
  }
}
@media (max-width: 768px) {
  nav .nav-top .nav-top-left {
    gap: 15px;
    padding: 0px 20px;
  }
  nav .nav-top .nav-top-right p {
    display: none;
  }
  nav .nav-button {
    height: 11vh;
  }
  nav .nav-button .nav-button-left {
    padding-left: 25px;
    width: 20%;
  }
  nav .nav-button .nav-button-right {
    padding-right: 20px;
    width: 80%;
  }
  nav .nav-button .nav-button-right ul {
    gap: 30px;
    padding-right: 10px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 12x;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 12px;
    padding: 5px 10px;
  }
}
@media (max-width: 600px) {
  nav .nav-top {
    display: none;
  }
  nav .nav-button {
    height: 10vh;
  }
  nav .nav-button .nav-button-left {
    padding-left: 10px;
    width: 25%;
  }
  nav .nav-button .nav-button-right {
    padding-right: 10px;
    width: 75%;
  }
  nav .nav-button .nav-button-right ul {
    gap: 15px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 11px;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 11px;
    padding: 4px 8px;
  }
}
@media (max-width: 400px) {
  nav .nav-top .nav-top-left {
    gap: 15px;
    padding: 0px 20px;
  }
  nav .nav-top .nav-top-right p {
    display: none;
  }
  nav .nav-button {
    height: 9vh;
  }
  nav .nav-button .nav-button-left {
    padding-left: 25px;
    width: 20%;
  }
  nav .nav-button .nav-button-right {
    width: 80%;
  }
  nav .nav-button .nav-button-right ul {
    gap: 15px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 10x;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 9px;
  }
}
@media (max-width: 390px) {
  nav .nav-button {
    height: 8vh;
  }
  nav .nav-button .nav-button-right ul {
    gap: 10px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 10px;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 9px;
  }
}
.interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 82vh;
  background: url(../../image/home/home_interface.png) center/cover no-repeat;
}
.interface .interface-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 82vh;
}
.interface .interface-left h1 {
  color: white;
  font: 40px sans-serif;
  padding: 50px 10px 10px 50px;
  line-height: 1.3em;
  width: 60%;
}
.interface .interface-left p {
  color: white;
  padding: 0px 10px 10px 50px;
  font-family: sans-serif;
  line-height: 1.5em;
}
.interface .interface-left button {
  background: #CFA344;
  padding: 12px 25px;
  text-transform: uppercase;
  color: white;
  font: 100 1.6vw sans-serif;
  border: none;
  cursor: pointer;
  margin: 10px 0 0 50px;
}
.interface .interface-left button:hover {
  border-radius: 15px;
  text-decoration: underline;
  color: yellow;
  cursor: pointer;
  border-bottom: 1px solid teal;
}
.interface .interface-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.interface .interface-right img {
  width: 40%;
}

@media (max-width: 885px) {
  .interface {
    height: 82vh;
    background: url(../../image/home/home_interface.png) center/cover no-repeat;
  }
  .interface .interface-left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 82vh;
  }
  .interface .interface-left h1 {
    color: white;
    font: 35px sans-serif;
    padding: 40px 10px 10px 40px;
    line-height: 1.2em;
    width: 70%;
  }
  .interface .interface-left p {
    color: white;
    padding: 0px 10px 10px 40px;
    font-family: sans-serif;
    line-height: 1.3em;
    width: 70%;
  }
  .interface .interface-left button {
    background: #CFA344;
    color: white;
    padding: 15px 20px;
    margin: 10px 0 0 40px;
    font: bold 14px sans-serif;
    border: none;
  }
  .interface .interface-right {
    display: none;
  }
  .interface .interface-right img {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .interface {
    height: 82vh;
    background: url(../../image/home/home_interface.png) center/cover no-repeat;
  }
  .interface .interface-left {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    height: 82vh;
  }
  .interface .interface-left h1 {
    color: white;
    font: 30px sans-serif;
    padding: 30px 10px 10px 30px;
    line-height: 1.2em;
    width: 80%;
  }
  .interface .interface-left p {
    color: white;
    padding: 0px 10px 10px 30px;
    font-family: 20px sans-serif;
    line-height: 1.3em;
    width: 80%;
  }
  .interface .interface-left button {
    margin: 10px 0 0 30px;
    padding: 15px 20px;
  }
  .interface .interface-right img {
    width: 40%;
  }
}
@media (max-width: 400px) {
  .interface {
    height: 82vh;
    background: url(../../image/home/home_interface.png) center/cover no-repeat;
  }
  .interface .interface-left {
    height: 82vh;
  }
  .interface .interface-left h1 {
    color: white;
    font: 22px sans-serif;
    padding: 20px 8px 8px 20px;
    line-height: 1.2em;
    width: 90%;
  }
  .interface .interface-left p {
    color: white;
    padding: 0px 10px 10px 20px;
    font-family: 18px sans-serif;
    line-height: 1.3em;
  }
  .interface .interface-left button {
    padding: 15px 20px;
    margin: 10px 0 0 20px;
    font: bold 12px sans-serif;
  }
}
@media (max-width: 320px) {
  .interface {
    height: 82vh;
    background: url(../../image/home/home_interface.png) center/cover no-repeat;
  }
  .interface .interface-left {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
    height: 82vh;
  }
  .interface .interface-left h1 {
    color: white;
    font: 18px sans-serif;
    padding: 20px 20px 10px 20px;
    line-height: 1.2em;
    width: 90%;
  }
  .interface .interface-left p {
    color: white;
    padding: 0px 20px 10px 20px;
    font: 10px sans-serif;
    line-height: 1.3em;
  }
  .interface .interface-left button {
    background: #CFA344;
  }
}
.new-articles {
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}
.new-articles .football {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 20px 20px 0px;
  height: 80vh;
}
.new-articles .football .football-head {
  width: 100%;
}
.new-articles .football .football-head h1 {
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 3px solid #000;
}
.new-articles .football .football-head h1 span {
  color: #CFA344;
}
.new-articles .football .football-butt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: 100%;
  padding: 25px;
  margin-top: 5px;
  background: #e5eaed;
}
.new-articles .football .football-butt h1 {
  font: 300 30px;
  text-transform: uppercase;
}
.new-articles .football .football-butt p {
  color: #CFA344;
  font-size: 25px;
  line-height: 1.3em;
  padding-right: 10px;
}
.new-articles .football .football-butt .football-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 20px;
}
.new-articles .football .football-butt .football-content button {
  background: #CFA344;
  padding: 12px 25px;
  text-transform: uppercase;
  color: white;
  font: 100 1.6vw sans-serif;
  border: none;
  cursor: pointer;
}
.new-articles .football .football-butt .football-content button:hover {
  text-decoration: underline;
  border-radius: 15px;
  color: yellow;
  border-bottom: 1px solid teal;
}
.new-articles .football .football-butt .football-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.new-articles .football .football-butt .football-img img {
  width: 100%;
  border-radius: 3px;
}
.new-articles .new-articles-img {
  height: 63vh;
}
.new-articles .new-articles-img img {
  height: 100%;
}

.what-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: url(../../image/home/Bg_what_we_do.png) center/cover no-repeat;
  height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
}
.what-we-do .what-we-do-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.what-we-do .what-we-do-head h1 {
  border-bottom: 1px solid transparent;
  font: 100 2.7vw sans-serif;
  color: yellow;
}
.what-we-do .what-we-do-head h1:hover {
  border-bottom: 1px solid yellow;
  cursor: pointer;
}
.what-we-do .what-we-do-head p {
  font: 100 1.2vw sans-serif;
  line-height: 1.2vw;
  letter-spacing: 1px;
  line-height: 1.3em;
  width: 80%;
}
.what-we-do .what-we-do-content {
  padding: 50px;
}
.what-we-do .what-we-do-content .what-we-do-content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
  height: 30vh;
}
.what-we-do .what-we-do-content .what-we-do-content-items .content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.2196078431);
  padding: 0px 10px;
  border-radius: 10px;
  height: 100%;
}
.what-we-do .what-we-do-content .what-we-do-content-items .content-item .content-item-pic img {
  width: 8vw;
  background: rgba(255, 255, 0, 0.733);
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
}
.what-we-do .what-we-do-content .what-we-do-content-items .content-item .content-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding: 25px;
  gap: 5px;
}
.what-we-do .what-we-do-content .what-we-do-content-items .content-item .content-item-text h2 {
  font: 100 1.3vw sans-serif;
  text-transform: uppercase;
  color: yellow;
  letter-spacing: 0.5px;
  border-bottom: 1px solid transparent;
}
.what-we-do .what-we-do-content .what-we-do-content-items .content-item .content-item-text h2:hover {
  border-bottom: 1px solid yellow;
  cursor: pointer;
}
.what-we-do .what-we-do-content .what-we-do-content-items .content-item .content-item-text p {
  font: 1 1vw sans-serif;
  line-height: 1.3em;
  letter-spacing: 0.8px;
}

.be-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 50px;
}
.be-member .be-basketball {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 100vh;
}
.be-member .be-basketball .be-basketball-left {
  width: 60%;
  padding-top: 50px;
  padding-right: 25px;
}
.be-member .be-basketball .be-basketball-left h1 {
  font: 100 35px sans-serif;
  width: 60%;
  line-height: 1.3em;
  color: black;
  width: 100%;
  text-transform: uppercase;
  text-decoration: underline;
  padding-bottom: 15px;
}
.be-member .be-basketball .be-basketball-left h1 > span {
  text-decoration: underline;
  text-transform: uppercase;
  color: #CFA344;
  font: 300 35px;
}
.be-member .be-basketball .be-basketball-left p {
  font: 100 25px sans-serif;
  line-height: 1.5em;
  color: #CFA344;
  padding-bottom: 15px;
  padding-right: 25px;
}
.be-member .be-basketball .be-basketball-left button {
  background: #CFA344;
  padding: 12px 25px;
  text-transform: uppercase;
  color: white;
  font: 100 1.6vw sans-serif;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
}
.be-member .be-basketball .be-basketball-left button:hover:not(.btn button) {
  border-radius: 15px;
  text-decoration: underline;
  color: yellow;
  cursor: pointer;
  border-bottom: 1px solid teal;
}
.be-member .be-basketball .be-basketball-left .btn {
  position: relative;
  top: 70px;
  left: 60%;
}
.be-member .be-basketball .be-basketball-left .btn button {
  -webkit-clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 6% 49%, 0% 0%);
          clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 6% 49%, 0% 0%);
  padding: 15px 100px;
  font: 100 30px sans-serif;
  background: #CFA344;
  color: white;
  border: none;
}
.be-member .be-basketball .be-basketball-left .btn button:hover {
  text-decoration: underline;
  color: yellow;
}
.be-member .be-basketball .be-basketball-right {
  width: 40%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f7f4f4;
  padding: 50px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.be-member .be-basketball .be-basketball-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.sport-evert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin-top: 50px;
}
.sport-evert .sport-evert-left {
  width: 60%;
}
.sport-evert .sport-evert-left h1 {
  font: 100 2.7vw sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 1.3em;
  padding-bottom: 15px;
}
.sport-evert .sport-evert-left h1 > span {
  text-decoration: underline;
  text-transform: uppercase;
  color: #CFA344;
  font: 300 2.7vw;
}
.sport-evert .sport-evert-left p {
  color: #CFA344;
  font: 100 1.6vw sans-serif;
  line-height: 1.5em;
  padding-right: 25px;
}
.sport-evert .sport-evert-left .icon-sport-evert {
  background: #CFA344;
  padding: 12px 25px;
  text-transform: uppercase;
  color: white;
  font: 100 1.6vw sans-serif;
  border: none;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 15px;
  border-bottom: 1px solid transparent;
}
.sport-evert .sport-evert-left .icon-sport-evert:hover {
  border-radius: 15px;
  text-decoration: underline;
  color: yellow;
  cursor: pointer;
  border-bottom: 1px solid teal;
}
.sport-evert .sport-evert-left button {
  background: #CFA344;
  position: relative;
  left: 65%;
  top: 10%;
  -webkit-clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 6% 49%, 0% 0%);
          clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 6% 49%, 0% 0%);
  padding: 15px 100px;
  font: 100 1.9vw sans-serif;
  color: white;
  border: none;
}
.sport-evert .sport-evert-left button:hover {
  text-decoration: underline;
  color: yellow;
}
.sport-evert .sport-evert-right {
  background: #f7f4f4;
  width: 40%;
  margin-left: 20px;
  padding: 50px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.sport-evert .sport-evert-right img {
  width: 100%;
}

.what-are-they {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.what-are-they .what-are-they-left {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.what-are-they .what-are-they-left .what-are-they-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 50px;
}
.what-are-they .what-are-they-left .what-are-they-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  height: 60%;
}
.what-are-they .what-are-they-left .what-are-they-content .content h1 {
  font: 100 2.7vw sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
}
.what-are-they .what-are-they-left .what-are-they-content .content h1 span {
  color: #CFA344;
  text-decoration: underline;
}
.what-are-they .what-are-they-left .what-are-they-content .content p {
  font: 100 1.6vw sans-serif;
  color: #CFA344;
  padding-right: 25px;
  line-height: 1.3em;
}
.what-are-they .what-are-they-left .what-are-they-content .content button:not(.btn button) {
  background: #CFA344;
  padding: 12px 25px;
  text-transform: uppercase;
  color: white;
  font: 100 1.6vw sans-serif;
  border: none;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid transparent;
}
.what-are-they .what-are-they-left .what-are-they-content .content button:not(.btn button):hover {
  border-radius: 15px;
  text-decoration: underline;
  color: yellow;
  cursor: pointer;
  border-bottom: 1px solid teal;
}
.what-are-they .what-are-they-left .what-are-they-content .about-sport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40%;
}
.what-are-they .what-are-they-left .what-are-they-content .about-sport p:not(.about-sport-right p) {
  font: 100 1.2vw sans-serif;
  text-transform: uppercase;
  padding-bottom: 25px;
  text-decoration: underline;
  letter-spacing: 1px;
  line-height: 1.3em;
}
.what-are-they .what-are-they-left .what-are-they-content .about-sport .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.what-are-they .what-are-they-left .what-are-they-content .about-sport .review .about-sport-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: 100%;
  padding-right: 25px;
}
.what-are-they .what-are-they-left .what-are-they-content .about-sport .review .about-sport-left img {
  width: 30%;
}
.what-are-they .what-are-they-left .what-are-they-content .about-sport .review .about-sport-left .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 100%;
}
.what-are-they .what-are-they-left .what-are-they-content .about-sport .review .about-sport-left .value h2 {
  font-size: 1.8vw;
  text-transform: uppercase;
}
.what-are-they .what-are-they-left .what-are-they-content .about-sport .review .about-sport-left .value span {
  font-size: 1.2vw;
}
.what-are-they .what-are-they-left .what-are-they-content .about-sport .review .about-sport-right {
  width: 50%;
  border-left: 1px solid #000;
}
.what-are-they .what-are-they-left .what-are-they-content .about-sport .review .about-sport-right p {
  font: 100 1.2vw sans-serif;
  color: #CFA344;
  padding: 0px 25px;
  line-height: 1.3em;
}
.what-are-they .what-are-they-right {
  width: 40%;
  padding: 50px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: #f7f4f4;
}
.what-are-they .what-are-they-right img {
  width: 100%;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.btn button {
  padding: 15px 100px;
  font: 100 1.9vw sans-serif;
  background: #CFA344;
  color: white;
  border: none;
  width: 100%;
}
.btn button:hover {
  text-decoration: underline;
  color: yellow;
}

.activity {
  background: rgba(235, 235, 240, 0.9803921569);
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}
.activity h1 {
  font: 100 2.7vw sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
  color: #CFA344;
}
.activity .activity-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.activity .activity-card .card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  background: rgba(235, 235, 240, 0.9803921569);
  border-radius: 10px;
  gap: 10px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.activity .activity-card .card .img {
  width: 100%;
  height: 70%;
}
.activity .activity-card .card .img img {
  width: 100%;
  height: 100%;
}
.activity .activity-card .card .card-content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  height: 30%;
  padding: 25px 25px;
}
.activity .activity-card .card .card-content h2 {
  font: 100 2.1vw sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid teal;
  padding: 10px;
}
.activity .activity-card .card .card-content p {
  font: 100 1.2vw sans-serif;
  color: #CFA344;
  line-height: 1.3em;
}

.rugby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px;
}
.rugby .rugby-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rugby .rugby-left .rugby-content h1 {
  font: 100 2.5vw sans-serif;
  border-bottom: 3px solid #000;
}
.rugby .rugby-left .rugby-content p {
  font: 100 1.9vw sans-serif;
  line-height: 1.5em;
  padding-right: 25px;
  margin-top: 10px;
  color: #CFA344;
}
.rugby .rugby-left .rugby-content p q {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
.rugby .rugby-left .rugby-content button {
  background: #CFA344;
  padding: 12px 25px;
  text-transform: uppercase;
  color: white;
  font: 100 1.6vw sans-serif;
  border: none;
  cursor: pointer;
  margin-top: 50px;
  font-size: 1.9vw;
}
.rugby .rugby-left .rugby-content button:hover {
  border-radius: 15px;
  text-decoration: underline;
  color: yellow;
  cursor: pointer;
  border-bottom: 1px solid teal;
}
.rugby .rugby-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.rugby .rugby-right img {
  width: 100%;
}
.rugby .rugby-right img:last-child {
  position: relative;
  top: -20%;
  right: 20%;
  width: 60%;
  border-radius: 10px;
}

.list-sport {
  background: teal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  gap: 50px;
}
.list-sport h1:not(.box h1, .card-sport h1) {
  font: 100 2.7vw sans-serif;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
}
.list-sport .list-sport-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  width: 100%;
}
.list-sport .list-sport-card .card1 h1 {
  border-radius: 10px 10px 0px 0px;
}
.list-sport .list-sport-card .card1 img {
  border-radius: 0px 0px 10px 10px;
}
.list-sport .list-sport-card .card2 h1 {
  border-radius: 0px 0px 10px 10px;
}
.list-sport .list-sport-card .card2 img {
  border-radius: 10px 10px 0px 0px;
}
.list-sport .list-sport-card .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.158);
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(169, 179, 194) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(169, 179, 194) 0px 0px 0px 1px inset;
}
.list-sport .list-sport-card .box h1 {
  font: 100 2.1vw sans-serif;
  background: pink;
  text-align: center;
  padding: 20px;
}
.list-sport .list-sport-card .box img {
  width: 100%;
}
.list-sport .list-sport-butt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-sport .list-sport-butt .list-sport-card {
  width: 75%;
}
.list-sport .list-sport-butt .list-sport-card .card-sport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.158);
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(169, 179, 194) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(169, 179, 194) 0px 0px 0px 1px inset;
}
.list-sport .list-sport-butt .list-sport-card .card-sport img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.list-sport .list-sport-butt .list-sport-card .card-sport h1 {
  font: 100 2.1vw sans-serif;
  background: pink;
  text-align: center;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
}