* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.main-form {
  height: 100vh;
  background: url(../image/about/log\ in.avif);
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
}
.main-form form {
  height: 60vh;
  width: 60vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#D2A28B), color-stop(#7A5244), to(#300E09));
  background: linear-gradient(#D2A28B, #7A5244, #300E09);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: #A96851 0px 0px 2px 0px;
          box-shadow: #A96851 0px 0px 2px 0px;
}
.main-form form .from-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.main-form form .from-content h1 {
  text-align: center;
}
.main-form form .from-content .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-form form .from-content input {
  height: 30px;
  background: none;
  border: none;
  border-bottom: solid 2px white;
  color: white;
}
.main-form form .from-content input:hover {
  background-color: gainsboro;
}
.main-form form .from-content ::-webkit-input-placeholder {
  color: rgb(253, 253, 253);
}
.main-form form .from-content ::-moz-placeholder {
  color: rgb(253, 253, 253);
}
.main-form form .from-content :-ms-input-placeholder {
  color: rgb(253, 253, 253);
}
.main-form form .from-content ::-ms-input-placeholder {
  color: rgb(253, 253, 253);
}
.main-form form .from-content ::placeholder {
  color: rgb(253, 253, 253);
}
.main-form form .from-content input:hover::-webkit-input-placeholder {
  color: gray;
  padding-left: 10px;
}
.main-form form .from-content input:hover::-moz-placeholder {
  color: gray;
  padding-left: 10px;
}
.main-form form .from-content input:hover:-ms-input-placeholder {
  color: gray;
  padding-left: 10px;
}
.main-form form .from-content input:hover::-ms-input-placeholder {
  color: gray;
  padding-left: 10px;
}
.main-form form .from-content input:hover::placeholder {
  color: gray;
  padding-left: 10px;
}
.main-form form .from-content input:focus {
  outline: none;
}
.main-form form .from-content .forget-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-form form .from-content .forget-password .group-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.main-form form .from-content .forget-password a {
  color: white;
}
.main-form form .from-content .btn-login button {
  height: 35px;
  width: 100%;
  border-radius: 25px;
  border: none;
  font-weight: bold;
}
.main-form form .from-content .btn-login button:hover {
  background-color: #da6014;
  color: white;
}
.main-form form .from-content .register {
  text-align: center;
}
.main-form form .from-content .register a {
  color: white;
}