@media (max-width: 1023px) {
  nav .nav-button {
    height: 12vh;
  }
  nav .nav-button .nav-button-left h1 {
    display: none;
  }
  nav .nav-button .nav-button-right ul {
    gap: 35px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 0.875rem;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 0.875rem;
    padding: 6px 10px;
  }
}
@media (max-width: 768px) {
  nav .nav-top .nav-top-left {
    gap: 15px;
    padding: 0 20px;
  }
  nav .nav-top .nav-top-right p {
    display: none;
  }
  nav .nav-button {
    height: 11vh;
  }
  nav .nav-button .nav-button-left {
    padding-left: 25px;
  }
  nav .nav-button .nav-button-right {
    padding-right: 20px;
  }
  nav .nav-button .nav-button-right ul {
    gap: 30px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 0.75rem;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 0.75rem;
    padding: 5px 10px;
  }
}
@media (max-width: 600px) {
  nav .nav-top {
    display: none;
  }
  nav .nav-button {
    height: 10vh;
  }
  nav .nav-button .nav-button-left {
    padding-left: 10px;
    width: 25%;
  }
  nav .nav-button .nav-button-right {
    padding-right: 10px;
    width: 75%;
  }
  nav .nav-button .nav-button-right ul {
    gap: 15px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 0.6875rem;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 0.6875rem;
    padding: 4px 8px;
  }
}
@media (max-width: 400px) {
  nav .nav-top .nav-top-left {
    gap: 15px;
    padding: 0 20px;
  }
  nav .nav-top .nav-top-right p {
    display: none;
  }
  nav .nav-button {
    height: 9vh;
  }
  nav .nav-button .nav-button-left {
    padding-left: 25px;
    width: 20%;
  }
  nav .nav-button .nav-button-right {
    width: 80%;
  }
  nav .nav-button .nav-button-right ul {
    gap: 15px;
  }
  nav .nav-button .nav-button-right ul li a {
    font-size: 0.625rem;
  }
  nav .nav-button .nav-button-right ul li button {
    font-size: 0.5625rem;
  }
}