@import "../scss/./components/./variable";
@import "../scss/./components/./mixin";
*{
    margin: 0;
    padding: 0;
}
p:not(.nav-top p){
  font-family: Arial, sans-serif;
  line-height: $line-height;
  font-size: 1em;
  color: #666;
}
h1:not(.nav-top h1){
  font:100 2.5rem Arial, sans-serif;
}
@import "../scss/./components/./navbar";
@import "../scss/./components/./home_interface";
@import "../scss/./components/./new-articles";
@import "../scss/./components/./what-we-do";
@import "../scss/./components/./be-member";
@import "../scss/./components/./sport-evert";
@import "../scss/./components/./what-are-they";
@import "../scss/./components/./btn";
@import "../scss/./components/./activity";
@import "../scss/./components/./rugby";
@import "../scss/./components/./list-sport";
@import "../sass/./components/./footer-about";
@import "../scss/./components/mixin/responsive.scss";
@import "../sass/./components/responsiv";