*{
  margin: 0;
  padding: 0;
  p{
    font-family:"Calibri", sans-serif;
  }
  h1{
    font-family:"Calibri", sans-serif;
  }
  h3{
    font-family:"Calibri", sans-serif;
  }
}
// h1{
//   font-size: xx-large;  
// }

@import"../scss/components/variable";
@import "../scss/components/mixin";
@import "./components/main-about";
@import "./components/footer-about";
@import "../scss/components/variable";
@import "../scss/components/mixin";
@import "../scss/components/navbar";