*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1{
  font-size: xx-large;  
}
body{
    height: 100vh;
    
    grid-template-rows: 1fr 10fr 4fr;

}
@import "./components/nav-about";
@import "./components/main-about";
@import "./components/footer-about";