@import "./components/mixins";
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    height: 100%;
    // width: 100%; 
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
#text-color{
    color:rgba(255, 174, 0, 0.872);
}
.text-header{
    margin-top: 35px;
    margin-left: 35px;
    font-size: 28px;
    color: white;
}
#submit{
    background-color:rgba(255, 174, 0, 0.872);
    color: white;
    border: none;
        width: 25%;
        height: 10vh; 
        margin-top: 40px;
}
#submit:hover{
    background-color: rgb(116, 116, 116);
}
button span{
    font-size: 30px;
    font-weight: bold
}
@import "../scss/components/mixin";
@import "../scss/components/variable";
@import "../scss/components/navbar";    
// @import"./components/navber";
@import"./components/header";
@import"./components/main";
@import "./components/card";
@import "./components/form";
@import"../sass/components/footer-about";