#blog{
    border-left: 5px solid;
    padding-left: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
}
.our-blog{
    background-color: #EAF1F1;
    padding: 50px 50px ;
    display: flex;
    flex-direction: column; 

    // padding:  10px;
    p{
        line-height: 1.3em;
    }
    .group-blog{
        display: flex;
        justify-content: space-between;
        .our-blog-left{
            width: 40%;
            display: flex;
            gap: 10px;
            img{
                height: 300px;
                width: 250px;
            }
            .our-blog-content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // gap: 100px;
                h3{
                    font-size: 25px;
                }
                .group-bloge-content{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    p{
                        font-size: 15px;
                    }
                }
            }
        }
        .our-blog-right{
            display: flex;
            img{
                height: 200px;
                width: 150px;
            }
            width: 40%;
        }
    }
}
@media (max-width:768px){
    .our-blog{
        .group-blog{    
            flex-direction: column;
            gap: 50px;
          
            .our-blog-left{
                width: 100%;
                gap: 100px;
                justify-content: flex-start;
                img{

                    border-right: solid 2px black;
                    padding-right: 100px;
                }   
                .our-blog-content{
                    h3{
                        font-size: 20px;
                    }
                    a{
                        font-size: 10px;
                    }
                    .group-bloge-content{
                        p{
                            font-size: 14px;
                        }
                    }
                }
                img{
                    height: 200px;
                    width: 150px;
                }   
            }
            .our-blog-revers{
                display: flex;
                flex-direction: row-reverse;
                #img-revers{
                   border: none;
                    border-left: solid 2px black;
                    padding-left: 100px;
                }   
            }
        }
    }
}
@media(max-width:420px){
    .our-blog{
        flex-direction: column;
        .group-blog{
            flex-direction: column;
            .our-blog-left{
                width: 100%;
                gap: 10px;
                align-items: center;    
                flex-direction: column-reverse;
                img{
                    border: none;
                }   
                #img-blog{
                    position: relative;
                    left: 16%;
                }
                .our-blog-content{
                    h3{
                        font-size: 20px;
                    }
                    a{
                        font-size: 10px;
                    }
                            // p{
                            //     text-align: justify;
                            // }
                    .group-bloge-content{
                       
                        p{
                            font-size: 14px;
                        }
                    }
                }
                img{
                    height: 400px;
                    width: 100% ;
                }   
            }
            .our-blog-revers{
                #img-revers{
                   border: none;
                    
                }   
            }   
        }
    }
}
