footer{
    padding: 20px 50px;
    background-color: #292928;
    display: flex;
    justify-content: space-between;
    .footer{
        display: flex;
        flex-direction: column;
        gap: 5px;
        h3{
            color: white;
        }
        a{
            color: rgb(164, 164, 164);
            text-decoration: none;
        }
        a:hover{
            color: rgb(249, 249, 249);
            text-decoration:underline;
        }
    }
}
@media (max-width:480px){
    footer{
      flex-wrap: wrap;
      gap: 20px;
      .footer{
        width: 40%;
      }
    }
}