@import"./mixins";
@import"./main-bgk";
@import "./more-about";
@import "./kwg-about";
@import"./blog";
@import"./card";
@import "./value";    
@import "../../scss/components/variable";
// 
@import"./responsiv";
main{
    gap: 50px;      
    display: flex;
    flex-direction: column;
    
}

