@mixin align-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin center-direction-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin btn {
    background-color: #CFA344;
    padding: 10px 40px;
    color: white;

}
@mixin display-column($align-items: start, $justify-content: start) {
    display: flex;
    flex-direction: column;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin display-row($align-items: start, $justify-content: start) {
    display: flex;
    flex-direction: row;
    align-items: $align-items;
    justify-content: $justify-content;
    
}
