@import "../../scss/components/variable";
.about-more{
    display: flex;  
    padding: 0px 30px;
    p{
        font-size: $all-p-destop;
        line-height: $line-height;
    }
    h1{
        font-size: $all-h1-destop;
        color: rgb(3, 3, 3);
        text-transform: uppercase;
    }
    .about-more-left{
        flex: 2;
        @include center-direction-column;
        align-items: self-start;
        justify-content: space-evenly;
        gap: 10px;
        h1{
            font-size: $all-h1-destop;
        }
        .about-content{
            display: flex;
            align-items: center;
            
            span{
                margin-left: 10px;
                background-color: #000000;
                padding: 5px 10px;
                transition: all 0.3s ease;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
            span:hover{
                background-color: goldenrod;
                transition: all 0.3s ease;
            }
        }
        .about-content-center{
            width: 95%
        }
        button{
            @include button-style;
        }
        button:hover{    
            @include hover-button-style;
        }
    }
    .about-more-right{
        .about-more-right-img{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            gap: 15px;
        }
        img{
            width: 200px;
            height: 225px;
        }  
        #about-img{
            height: 250px;
        }
    }
}
