@import"../../scss/components/variable";
.value{
    flex: 1;
    h1{
        text-transform: uppercase;
        font-size: $all-h1-destop;
    }
    gap: 20px;
    padding: 0px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    .card-value{
        display: flex;
        justify-content: space-around;
        .card{
            @include card;
            @include center;
            flex-direction: column;
            gap: 20px;
            
            img{
                width: 100px;

            }
        }

    }
    .content{
        p{
            font-size: $all-p-destop;
        }
    }
}
