.activity{
    background: #ebebf0fa;
    padding: 50px;
    @include display-column(center,center);
    gap: 25px;
    h1{
        font: 100 $all-big-h1 sans-serif;
        text-decoration: underline;
        text-transform: uppercase;
        color: $all-color;
    }
    .activity-card{
        display: flex;
        gap: 50px;
        .card{
            height: fit-content;
            padding: 5px;
            background: #ebebf0fa;
            border-radius: 10px;
            gap: 10px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            .img {
                width: 100%;
                height: 70%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .card-content{
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 10px;
                height: 30%;
                padding: 25px 25px;
                h2{
                    font: 100 $all-small-h1 sans-serif;
                    text-transform: uppercase;
                    border-bottom: 1px solid teal;
                    padding: 10px;
                }
                p{
                    font: 100 $all-small-p sans-serif;
                    color: $all-color;
                    line-height: 1.3em;
                }
            }
        }
    }
}