.be-member {
    @include display-column(start, start);
    padding: 50px;
    height: fit-content;
    .be-basketball {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
        height: fit-content;
        .be-basketball-left {
            display: flex;
            flex-direction: column;
            height: fit-content;
            width: 60%;
            padding: 50px 25px 25px 0px;
            gap: 10px;
            .be-basketball-content {
                width: 100%;
                h1 {
                    font: 100 $all-big-h1 sans-serif;
                    line-height: 1.3em;
                    color: black;
                    width: 100%;
                    text-transform: uppercase;
                    text-decoration: underline;
                    padding-bottom: 15px;
                    > span {
                        text-decoration: underline;
                        text-transform: uppercase;
                        color: $all-color;
                        font: 100 $all-big-h1;
                    }
                }
                p {
                    font: 100 $all-big-p;
                    line-height: 1.3em;
                    padding-bottom: 15px;
                    padding-right: 25px;
                }
            }
            button {
                @include button-style;
                border: 1px solid transparent;
                width: fit-content;
            }

            button:hover:not(.btn button) {
                @include hover-button-style;
            }
        }
        .be-basketball-right {
            margin-left: 20px;
            width: 40%;
            padding: 50px;
            height: fit-content;
            @include display-row(center, center);
            background: #f7f4f4;
            border-radius: 12px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                border-radius: 8px;
            }
        }
    }
    
}
@import "../components/mixin/responsive";


