.btn{
    @include display-row(center,center)
    button{
        clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 6% 49%, 0% 0%);
        padding: 15px 100px;
        font: 100 30px sans-serif;
        background: $all-color;
        color: white;
        border: none;
       
    }
}