
.interface{
    @include display-row(start,start);
    height: 82vh;
    background: url(../../image/home/home_interface.png) center / cover no-repeat;
    .interface-left{
        @include display-column(start,start);
        flex: 1;
        height: 82vh;
        h1{
            color: white;
            font:100 $all-big-h1 sans-serif;
            padding: 50px 10px 10px 50px;
            line-height: 1.3em;
            width: 60%;
        }
        p{  
            color: white;
            padding: 0px 10px 10px 50px;
            font:$all-big-p sans-serif;
            line-height: 1.3em;
        }
        button{
            @include button-style;
            margin: 10px 0 0 50px;
           
        }
        button:hover{
            @include hover-button-style;
        }
    }
    .interface-right{
        flex: 1;
        height: 82vh;
        @include display-row(center,center);
        img{
            width: 40%;
        }
    }
}
@import "./mixin/responsive.scss";
