@mixin display-column($align-items: start, $justify-content: start) {
    display: flex;
    flex-direction: column;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin display-row($align-items: start, $justify-content: start) {
    display: flex;
    flex-direction: row;
    align-items: $align-items;
    justify-content: $justify-content;
}
// @mixin display-column($align-items: start, $justify-content: start) {
//     display: flex;
//     flex-direction: column;
//     align-items: $align-items;
//     justify-content: $justify-content;
// }

// @mixin display-row($align-items: start, $justify-content: start) {
//     display: flex;
//     flex-direction: row;
//     align-items: $align-items;
//     justify-content: $justify-content;
    
// }
// @mixin align-between {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
// @mixin center{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// @mixin center-direction-column{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }
// @mixin display-column {
//     display: flex;
//     align-items: center;
//     flex-direction: column;
// }
// @mixin display-row{
//     display: flex;
//     align-items: center;
//     flex-direction: row;
// }
// Base Button Style
@mixin button-style {
    background: $all-color;
    padding: 12px 24px;
    text-transform: uppercase;
    color: white;
    font: 500 1rem sans-serif;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
    @media (max-width: 768px) {
        padding: 10px 20px;
        font: 500 0.9rem sans-serif;
    }

    @media (max-width: 480px) {
        padding: 8px 16px;
        font: 500 0.8rem sans-serif;
    }
}
@mixin hover-button-style {
    border-radius: 12px;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid teal;
    background: rgba(153, 176, 245, 0.8);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
    transform: translateY(-4px);
    transition: all 0.3s ease;
}
