nav {
    position: sticky;
    top: 0;
    z-index: 10;
    @include display-column(start, start);
    text-transform: uppercase;
    .nav-top {
        @include display-row(center, space-between);
        background: #292928;
        color: white;
        height: 5vh;
        width: 100%;
        .nav-top-right {
            @include display-row(center, start);
            gap: 20px;
            padding: 0 45px;
            p {
                letter-spacing: 0.5px;
                font-size: $all-big-p;
            }
        }
        .nav-top-left {
            @include display-row(center, start);
            gap: 20px;
            padding: 0 45px;
            img {
                height: 20px;
                cursor: pointer;
            }
        }
    }
    .nav-button {
        @include display-row(center, space-between);
        width: 100%;
        height: 12vh;
        background: #3A3A3A;
        border-bottom: 4px solid rgb(162, 212, 212);
        .nav-button-left {
            @include display-row(center, start);
            gap: 20px;
            width: 20%;
            height: 100%;
            background: $all-color;
            padding-left: 50px;
            clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
            img {
                height: 80%;
                cursor: pointer;
            }
            h1 {
                color: white;
                font-size: 1.875rem; 
                font-weight: 100;
            }
        }
        .nav-button-right {
            width: 80%;
            ul {
                @include display-row(center, end);
                height: 100%;
                gap: 75px;
                padding-right: 50px;
                li {
                    list-style: none;
                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 1.25rem;
                        letter-spacing: 0.5px;
                        transition: all 0.5s ease-in-out;
                        &:hover {
                            color: yellow;
                            transform: scale(1.1);
                        }
                        &:focus {
                            outline: 2px solid yellow; 
                        }
                    }
                    #color {
                        border-bottom: 2px solid yellow;
                        color: yellow;
                    }
                    button {
                        background: $all-color; 
                        color: white;
                        border: none;
                        padding: 8px 20px;
                        font: bold 1.125rem serif; 
                        text-transform: uppercase;
                        border-radius: 10px 0 10px 0;
                        letter-spacing: 0.5px;
                        cursor: pointer;
                        &:hover {
                            color: yellow;
                        }
                        &:focus {
                            outline: 2px solid yellow;
                        }
                    }
                }
            }
        }
    }
}
@import "./mixin/responsive.scss";
