.new-articles {
    @include display-row(start, center);
    padding: 50px;
    .football {
        @include display-column(center, center);
        padding: 0px 20px 20px 0px;
        height: fit-content;
        .football-head {
            width: 100%;
            h1 {
                font: 100 $all-big-h1 sans-serif;
                text-transform: uppercase;
                border-bottom: 3px solid #000;
                span {
                    color: $all-color;
                }
            }
        }
        .football-butt {
            @include display-row(start, center);
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            height: 100%;
            padding: 25px;
            margin-top: 5px;
            background: #e5eaed;
            h1 {
                font: 100 $all-small-h1 sans-serif;
                text-transform: uppercase;
            }
            p {
                font-size: $all-big-p;
                line-height: 1.3em;
                // padding-right: 25px;
            }
            .football-content {
                @include display-column(start, start);
                flex: 1;
                gap: 20px;
                button {
                    @include button-style;
                }
                button:hover {
                    @include hover-button-style;
                }
            }
            .football-img {
                flex: 1;
                @include display-row(end, center);
                height: 100%;
                img {
                    width: 100%;
                    border-radius: 3px;
            
                }
            }
        }
    }
    .new-articles-img {
        img {
            height: 100%;
        }
    }
}
@import "../components/mixin/responsive.scss"