.rugby{
    display: flex;
    height: fit-content;
    padding: 50px;
    .rugby-left{
        flex: 1;
        padding-right: 25px;
        @include display-column (start,space-between);
        .rugby-content{
            h1{
                font:100 $all-big-h1;
                border-bottom: 3px solid #000;
            }
            p{
                font: 100 $all-big-p ;
                line-height: $line-height;
                padding-right: 25px;
                margin-top: 20px;
                q{
                    text-transform: uppercase;
                    color: black;
                }
            }
            button{
                @include button-style;
                margin-top: 30px;
                font-size: $all-big-p;
            }
            button:hover{
                @include hover-button-style;
            }
        }
    }
    .rugby-right{
        flex: 1;
        img{
            width: 100%;
        }
        img:last-child{
            position: relative;
            top: -20%;
            right: 20%;
            width: 60%;
            border-radius: 10px;
        }
    }
}
@media (max-width:768px) {
    .rugby-content{
        h1{
            font:100 $tablet-text-h1;
            border-bottom: 3px solid #000;
        }
        p{
            font: 100 $tablet-text-p;
            line-height: $line-height;
            padding-right: 25px;
            margin-top: 20px;
            q{
                text-transform: uppercase;
                color: black;
            }
        }
    }
}
@media (max-width:480px) {
    .rugby{
        display: flex;
        flex-direction: column;
        gap: 25px;
        .rugby-right{
            img:last-child{
                display: none;
            }
        }
        .rugby-left{
            .rugby-content{
                h1{
                    font:100 $phone-text-h1;
                }
                p{
                    font: 100 $phone-text-p;
                }
            }
        }
    }
}