$all-color: #CFA344;
$all-small-p: 1rem;
$all-big-p: 1rem;
$all-big-h1: 2rem;
$all-small-h1: 1.75rem;
$line-height: 1.8;
$button-big-font-size: 2rem;
$button-small-font-size: 1.125rem;
$tablet-text-h1:1.75rem;
$tablet-text-p:0.875rem;
$phone-text-h1:1.625rem;
$phone-text-p:0.875rem;