$all-color: #CFA344;

$all-h1-destop:2rem;
$all-h1-tablat:1.75rem;
$all-h1-phon:1.625rem;
$all-p-destop: 1rem;
$all-p-tablet: 0.875rem;
$all-p-phone: 0.875rem;
$all-h3-destop: 1.7rem;
$all-h3-tablet:1.5rem;
$all-h3-phone:1.375rem;

$all-small-p: 1rem;
$all-big-p: 1rem;
$all-big-h1: 2rem;
$all-small-h1: 1.75rem;
$line-height: 1.8;
$button-big-font-size: 2rem;
$button-small-font-size: 1.125rem;
$tablet-text-h1:1.75rem;
$tablet-text-p:0.875rem;
$phone-text-h1:1.625rem;
$phone-text-p:0.875rem;