.what-are-they {
    display: flex;
    margin-top: 50px;
    height: fit-content;
    .what-are-they-left {
        width: 60%;
        height: fit-content;
        .what-are-they-content {
            @include display-column(space-between, start);
            gap: 50px;
            // padding: 50px;
            .content {
                display: flex;
                flex-direction: column;
                gap: 20px;
                height: 60%;
                h1 {
                    font: 100 $all-big-h1 sans-serif;
                    text-transform: uppercase;
                    text-decoration: underline;
                    span {
                        color: $all-color;
                        text-decoration: underline;
                    }
                }
                p {
                    font: 100 $all-big-p;
                    padding-right: 25px;
                    line-height: 1.3em;
                }
                button{
                    @include button-style;
                    width: fit-content;
                    border-bottom: 2px solid transparent;
                }
                button:hover {
                    @include hover-button-style;
                }
            }
            .about-sport {
                @include display-column(center, center);
                height: 40%;
                p:not(.about-sport-right p) {
                    font: 100 $all-small-p;
                    text-transform: uppercase;
                    padding-bottom: 25px;
                    text-decoration: underline;
                    line-height: $line-height;
                }
                .review {
                    @include display-row(start, start);
                    .about-sport-left {
                        @include display-row(center, space-between);
                        width: 50%;
                        height: 100%;
                        padding-right: 25px;
                        img {
                            width: 30%;
                        }
                        .value {
                            width: 70%;
                            @include display-column(center, start);
                            height: 100%;
                            h2 {
                                font-size: 1.3rem;
                                text-transform: uppercase;
                            }
                            span {
                                font-size: 1rem;
                            }
                        }
                    }
                    .about-sport-right {
                        width: 50%;
                        border-left: 1px solid #000;
                        p {
                            font-size: $all-small-p;
                            padding: 0px 25px;
                            line-height: 1.3em;
                        }
                    }
                }
            }
        }
    }

    .what-are-they-right {
        width: 40%;
        padding: 50px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        background: #f7f4f4;
        img {
            width: 100%;
        }
    }
}
@import "../components/mixin/responsive";